<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Productos y servicios</title>
    <meta name="description" content="En Serenade aplicamos desde una perspectiva humanista productos y servicios de diferentes ciencias y filosofías para ayudarte a conseguirte el mayor bienestar. Yoga, reiki, fisioterapia y psicología, entre otras disciplinas">
<link rel="stylesheet" href="./../css/estilos.css">
</head>
<body>
    <header>
        <ul>
            <li><a href="./../index.html"><img src="./../assets/images/serenade-logo.png" alt="Serenade logo" class="logo" width="292" height="333"></a></li>                     
            <li><a href="./../index.html">INICIO</a></li>
            <li><a href="./productos.html"><span class="on"> PRODUCTOS</span></a></li>
            <li><a href="./presupuesto.html">PRESUPUESTO</a></li>
            <li><a href="./contacto.html">CONTACTO</a></li>
        </ul>
    </header>
    <nav>
        <ul>
            <li><a href="./../index.html"><img src="./../assets/images/serenade-logo.png" alt="Serenade logo" class="logo" width="292" height="333"></a></li>                     
            <li class="inicio"><a href="./../index.html">INICIO</a></li>
            <li class="prod"><a href="./productos.html">PRODUCTOS</a></li>
            <li class="presup"><a href="./presupuesto.html">PRESUPUESTO</a></li>
            <li class="contact"><a href="./contacto.html">CONTACTO</a></li>
        </ul>
    </nav>
    <main>
        <section >
            <h1>Productos y servicios</h1>
            <div class="galeria-prod-ppal">
                <article class="yog" id="yog-i">
                <div>
                <figure>
                    <img class="prod-g1" src="./../assets/images/yoga-activo.jpeg" alt="yoga-activo" width="291" height="173">
                    <figcaption>
                        <h2>Yoga activo</h2>
                        <p>Ofrecemos clases de hatha yoga o yoga activo donde conectamos el alma con el cuerpo a través de asanas, movimientos y respiración.
                        Son clases donde ejercitaremos el cuerpo pero desde la conciencia y el ser.</p>
                    </figcaption>
                </figure>
                </div>
                <div>
                    <figure>
                    <img class="prod-g1" src="./../assets/images/yoga-terapeutico.jpeg" alt="yoga terapeutico" width="287" height="175">
                    <figcaption>
                        <h2>Yoga terapeutico</h2>
                    <p>El yoga terapéutico se compone de una variedad de posturas y ejercicios diseñados para aliviar dolencias específicas y promover la salud integral. Estos ejercicios son adaptaciones de las posturas tradicionales del yoga, enfocadas en objetivos terapéuticos.</p>
                    </figcaption>
                    </figure>
                </div>
                </article>
                <article class="fis">
                    <div>
                    <figure>
                    <img class="prod-g1" src="./../assets/images/fisioterapia.jpeg" alt="fisio" width="275" height="183">
                    <figcaption>
                        <h2>Fisioterapia</h2>
                        <p>Cuando se produce una lesión haciendo ejercicio o durante la actividad diaria, así como una mala postura, la persona afectada suele presentar ciertos síntomas que precisan de un tratamiento experto.</p>
                    </figcaption>
                </figure>
                </div>
                <div>
                    <figure>
                    <img class="prod-g1" src="./../assets/images/fisioterapia-deportiva.jpg" alt="fisio-depor" width="867" height="453">
                    <figcaption>
                        <h2>Fisioterapia deportiva</h2>
                        <p>La fisioterapia deportiva es una rama de la fisioterapia, que va dirigida a toda persona que practique deporte habitualmente, tanto si es un deporte de base, amateur, de salud, de élite o alto rendimiento.
                            La fisioterapia deportiva consiste en hacer un trabajo preventivo y otro de recuperación de lesiones.</p>
                    </figcaption>
                </figure>
                </div>
                </article>
                <article class="psic">
                    <div>
                    <figure>
                    <img class="prod-g1" src="./../assets/images/psicoterapia-indiv.jpeg" alt="psico-indiv" width="275" height="183">
                    <figcaption>
                        <h2>Psicoterapia individual</h2>
                    <p> Los psicoterapeutas aplican procedimientos validados científicamente para ayudar a las personas a cambiar sus pensamientos, emociones y conductas, entendiendo las primeras para poder afrontar el día a día con salud y ser más felices </p>
                    </figcaption>
                </figure>
                </div>
                <div>
                    <figure>
                    <img class="prod-g1" src="./../assets/images/psicoterapia-dolor.jpeg" alt="psico-dolor" width="275" height="183">
                    <figcaption>
                        <h2>Psicoterapia para el dolor</h2>
                        <p> Sentir dolor crónico es algo complejo: se extiende a todos los ámbitos de la vida y puede causar depresión. Afrontar desde una perspectiva global el estímulo doloroso con diferentes herramientas psicosociales pueden cambiar su vivencia y mejorar la calidad de vida del paciente. </p>
                    </figcaption>
                </figure>
                </div>
                </article>
            </div>
        </section>
        <section >
            <h2 class="gal-sec">Terapias holísticas</h2> 
            <a id="extra"></a>
            <div class="galeria-prod-secund">
                <article>
                    <figure>
                        <img src="./../assets/images/reiki.jpeg" alt="Reiki" width="275" height="183">
                    </figure>
                    <h3>Reiki</h3>
                    <p>Uno de los métodos curativos más antiguos de la humanidad, que a través de la imposición de manos usa la energía del maestro para sanar y equilibrar</p>
                </article>
                <article>
                    <figure>
                        <img src="./../assets/images/masajes-h.jpeg" alt="Masajes relax" width="265" height="190">
                    </figure>
                    <h3>Masajes</h3>
                    <p>El masaje como método relajantes y equilibrante es perfecto para cuidarte. Usamos diferentes técnicas para que reconectes</p>
                </article>
                <article>
                    <figure>
                        <img src="./../assets/images/meditacion.jpeg" alt="Meditacion" width="300" height="168">
                    </figure>
                    <h3>Meditación</h3>
                    <p>Meditar es respirar, estar presente, reconectar con el cuerpo y el alma. La práctica continuada ayuda a reducir la ansiedad, mitigar el dolor, para vivir el ahora sin cargas.</p>
                </article>
                <article>
                    <figure>
                        <img src="./../assets/images/acupuntura.jpeg" alt="acupuntura" width="290" height="174">
                    </figure>
                    <h3>Acupuntura</h3>
                    <p>La aplicación de agujas en puntos clave del cuerpo ayuda a reducir el dolor, las nauseas y la ansiedad, entre otras cosas. 
                    </p>
                </article>
                <article>
                    <figure>
                        <img src="./../assets/images/kinesiologia.jpeg" alt="kinesiología" width="275" height="183">
                    </figure>
                    <h3>Kinesiología</h3>
                    <p>Esta terapia manual estudia los músculos para detectaro prevenir desquilibrios. Se aplican estímulos ligeros sobre los músculos para determinar donde está el problema.</p>
                </article>
                <article>
                    <figure>
                        <img src="./../assets/images/reflexologia.jpeg" alt="Manos y Pies" width="238" height="212">
                    </figure>
                    <h3>Reflexología</h3>
                    <p>la reflexología aplica masaje de presion en manos o pies donde se refleja la mayor parte del organismo</p>
                </article>
                <article>
                    <figure>
                        <img src="./../assets/images/auriculoterapia.jpeg" alt="Auriculoterapia" width="275" height="183">
                    </figure>
                    <h3>Auriculoterapia</h3>
                    <p>Este es un tipo especializado de acupuntura que se mezcla son la reflexología y que se aplica sobre las orejas.</p>
                </article>
                <article>
                    <figure>
                        <img src="./../assets/images/Danzaterapia.jpeg" alt="Biodanza" width="256" height="197">
                    </figure>
                    <h3>Danzaterapia</h3>
                    <p>Esta terapia busca expresar y liberar emociones a través del baile y al mismo tiempo mejorar la postura, las tensiones o la respiración.</p>
                </article>
            </div>
        </section>
        <section >
            <h2 class="title-tar">Tarifas</h2>
            <div class="tarifas">
                <article class="tarifas1">
                    <h2>Tarifas 1</h2>
                    <h3>Servicios principales</h3>
                    <ul>
                        <li>Yoga activo---37€/hora a la semana</li>
                        <li>Yoga terapéutico---38€/hora a la semana</li>
                        <li>Fisioterapia---40€/hora
                           <ul>
                            <li class="domi">Hay un suplemento para sesiones a domicilio</li>
                           </ul>
                        </li>
                        <li>Fisioterapia deportiva---42€/hora</li>
                        <li>Psicoterapia individual--- 50€/hora</li>
                        <li>Psicoterapia dolor crónico---50€/hora-
                            <ul>
                                <li class="domi">47€/hora-virtual</li> 
                            </ul>
                        </li> 
                    </ul>
                </article>
                <article class="tarifas2">
                    <h2>Tarifas 2</h2>
                    <h3>Otros</h3>
                    <ul>
                        <li>Reiki---35€/hora</li>
                        <li>Masajes relx---20€/ media hora --- 50€---1hora</li>
                        <li>Meditación---40€/hora y media</li>
                        <li>Acupuntura---50€/hora</li>
                        <li>Kinesiología--- 45€/hora</li>
                        <li>Reflexiología---20€/media hora ---50€/hora</li>
                        <li>Auriculoterapia---35€/hora</li>
                        <li>Danzaterapia--- consultar disponibiidad</li>
                    </ul>
                </article>
            </div>
        </section>
        <section class="bonos">
        <h3>Disponemos de tarjetas regalo y bonos de terapia. No dudes en preguntarnos cualquier duda en nuestra sección de <a href="./presupuesto.html">Presupuesto</a></h3> 
        </section>
        <section>
            <h2 class="title-tar">Horarios Yoga</h2>
            <div class="hr-yog">
                <article class="hr-yog-act">
                <h2>Yoga activo</h2>
                <h3>Horarios</h3>
                    <div>
                        <p>Lunes, Martes, Jueves:</p>
                        <ul>
                            <li>mañanas:  10h-11h, 12h-13h</li>
                            <li>tardes:   17h-18h, 19h-20h</li>
                        </ul>
                    </div> 
                </article>
                <article class="hr-yog-t">
                    <h2>Yoga terapéutico</h2>
                    <h3>Horarios</h3>
                    <div>
                        <p>Lunes, Martes, Miércoles, Jueves:</p>
                        <ul>
                            <li>mañanas:   9h-10h, 11h-12h,</li>
                            <li>tardes:    18h-19h,20h-21h</li>
                        </ul>
                        <p>Sólo miércoles:  10h-11h, 19h-20h</p>

                    </div> 
                </article>
            </div>
        </section>
    </main>
    <footer>
        <ul>
            <li><a href="https://www.instagram.com/?utm_source=pwa_homescreen&__pwa=1" target="_blank"><img src="./../assets/images/logo-instagram.png" alt="Serenade instagram" width="300" height="300"></a></li>
            <li><a href="https://www.facebook.com/" target="_blank"><img src="./../assets/images/logo-facebook.jpg" alt="Serenade Facebook" width="2688" height="2688"></a> </li>
            <li><a href="https://x.com/" target="_blank"><img src="./../assets/images/logo-twitter-x.png" alt="serenade twitter" width="225" height="225"></a> </li>
        </ul>
        <ul class="legal">
            <li class="copyr"> &copy; Copyright 2023 Todos los derechos reservados</li>
            <li><a href="./aviso-legal.html" target="_blank">Aviso legal</a></li>
            <li><a href="./politica-privacidad.html" target="_blank">Política de privacidad</a></li>
            <li> <a href="./views/política-cookies.html" target="_blank">Política de cookies</a></li>
        </ul>
    </footer>

    
