<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contacto</title>
    <meta name="description" content="Serenade está en Madrid en la calle Olmo. Puedes venir a vernos, llamarnos o escribirnos: puede ser el primer paso hacia tu bienestar">
<link rel="stylesheet" href="./../css/estilos.css">
</head>
<body>
    <header>
        <ul>
            <li class="icono-line"><a href="tel:+34637872503"><img src="./../assets/images/phone.svg" alt="telefono"  class="iconos"><span class="data">637 87 25 03</span></a> </li>
             <li class="icono-line"><a href="mailto:info@serenade.net" target="_blank"><img src="./../assets/images/envelope.svg" alt="email" class="iconos"><span class="data">info@serenade.net</span></a></li>
            <li class="icono-line"><img src="./../assets/images/clock.svg" alt="horario" class="iconos"><span class="data horario" >Lunes-Jueves 9:00-20:00</span> </li>
            <li class="icono-line"><img src="./../assets/images/map-location-dot.svg" alt="direccion" class="iconos"><span class="data" >C/ Olmo 13. 28012. Madrid </span></li>
        </ul>
    </header>
    <nav>
        <ul>
            <li><a href="./../index.html"><img src="./../assets/images/serenade-logo.png" alt="Serenade logo" class="logo" width="292" height="333"></a></li>                     
            <li class="inicio"><a href="./../index.html">INICIO</a></li>
            <li class="prod"><a href="./productos.html">PRODUCTOS</a></li>
            <li class="presup"><a href="./presupuesto.html">PRESUPUESTO</a></li>
            <li class="contact"><a href="./contacto.html">CONTACTO</a></li>
        </ul>
    </nav>

    <main><!-- ubicación y datos de contacto -->   
        <h1>Contacto</h1>
        <p class="contacto"> <span class="serenade">Serenade</span> está ubicado en el centro de Madrid, muy bien comunicado por transporte público. Puedes contactar con nosotros por teléfono, por mail o venir a conocernos a nuestro local. </p>
        <section class="seccion1">
            <h2>Dónde estamos</h2>
            <div class="mapa">
                <div class="iFrame">
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d12151.500862759955!2d-3.719466139681428!3d40.41161507149236!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xd42262aed5252cd%3A0xb34eb951ed2d6a1e!2sCalle%20del%20Olmo%2C%2013%2C%20Centro%2C%2028012%20Madrid!5e0!3m2!1ses!2ses!4v1724235461486!5m2!1ses!2ses" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                </div>
                <div class="info-con">
                    <div class="dat-contacto">
                        <h3>Dirección</h3> 
                        <p>Calle Olmo 13, 28012, Madrid</p>
                        <h3>Teléfono</h3>
                        <p><a href="tel:617872503">637 87 25 03 </a></p>
                        <h3>Email</h3>
                        <p><a href="mailto:info@serenade.net">info@serenade.net</a></p>
                    </div>
                    <div>      
                        <p> No dudes en contarnos acerca de ti y de tu malestar. Todos <span class="important">nuestros terapeutas cuentan concertificación en su disciplina </span>, pero sobre todos trabajarán a partir de tu historia. <span class="serenade"> Serenade </span> es un espacio seguro, donde escuchamos para ayudarte. Es posible que varias técnicas puedan usarse para tratar tu problema pero propondremos aquellas con las que te sientas más a gusto y que se adapten más a ti.</p>
                        <p>Nunca contradeciremos al médico, sino que complementaremos los cuidados para el diagnosticos y siempre desde la intención de <span class="important">tratar de la manera menos invasiva y con especial atención a tu energia y tus emociones</span>.</p>
                        <p>De esta manera cada tratamiento es único y el presupuesto sólo se confirma tras la primera visita y la valoración de los terapeutas</p>
                        <p> <span class="important">Nuestro compromiso es ayudarte</span>, por eso, si creemos que no podemos ayudarte de ninguna manera intentaremos recomendarte algún otro especialista que pueda hacerlo.</p>
                    </div>
                    <div>
                    <h3>Cómo llegar</h3>
                    <p>Metro: Antón Martín L1, Tirso de Molina L1</p>
                    <p> Bus: M1</p>
                    </div>
                </div>
            </div>
        </section>
        <section class="gal3">
            <h2>Nuestras instalaciones</h2>
           <div class="instalaciones">
                <div>
                    <figure>
                        <img src="./../assets/images/recepcion.jpeg" alt="recepcion" width="275" height="183">
                        <figcaption>
                         Recepción
                        </figcaption>
                    </figure>
                </div>
                <div>
                    <figure>
                        <img src="./../assets/images/sala-masaje.jpeg" alt="sala-masajes" width="298" height="169">
                        <figcaption>Sala 1</figcaption>
                    </figure>
                </div>
                <div>
                    <figure>
                        <img src="./../assets/images/sala-fisio.jpeg" alt="sala-fisio" width="275" height="183">
                        <figcaption>
                            Sala2
                        </figcaption>
                    </figure>
                </div>
                <div>
                    <figure>
                        <img src="./../assets/images/sala-yoga.jpeg" alt="Sala yoga" width="275" height="183">
                        <figcaption>
                            Sala Yoga
                        </figcaption>
                    </figure>
                </div>
                <div>
                    <figure>
                        <img src="./../assets/images/sala-psicologo.jpeg" alt="sala-psicologo" width="275" height="183">
                        <figcaption>
                            Sala Psicoterapia
                        </figcaption>
                    </figure>
                </div>
            </div>
        </section>
    </main>
    <footer>
        <ul>
            <li><a href="https://www.instagram.com/?utm_source=pwa_homescreen&__pwa=1" target="_blank"><img src="./../assets/images/logo-instagram.png" alt="Serenade instagram" width="300" height="300"></a></li>
            <li><a href="https://www.facebook.com/" target="_blank"><img src="./../assets/images/logo-facebook.jpg" alt="Serenade Facebook" width="2688" height="2688"></a> </li>
            <li><a href="https://x.com/" target="_blank"><img src="./../assets/images/logo-twitter-x.png" alt="serenade twitter" width="225" height="225"></a> </li>
        </ul>
        <ul class="legal">
            <li class="copyr"> &copy; Copyright 2023 Todos los derechos reservados </li>
            <li><a href="./aviso-legal.html" target="_blank">Aviso legal</a></li>
            <li><a href="./politica-privacidad.html" target="_blank">Política de privacidad</a></li>
            <li> <a href="./views/política-cookies.html" target="_blank">Política de cookies</a></li>
        </ul>
    </footer>

</body>
</html>